.home-page-container {
    width: 100%;
  }
  
  .upcoming-movies-heading {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
  }
  
  ul.upcoming-movies {
    flex-wrap: nowrap;
    margin: 0px !important;
  }
  
  .main-container {
    display: flex;
  }
  
  .released-movies-container {
    width: 76%;
    margin: 16px;
  }
  
  .filters-container {
    width: 24%;
    margin: 16px;
  }
  
  .clickable-movie-poster:hover {
    cursor: pointer;
  }
  