
.app-header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  justify-content: space-between;
}

.app-logo {
  background-color: #ff7f7f;
  height: 35px;
  animation-name: spin;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}